CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
env/
app/build/
bootloader/
build/
modules/
tools/
zephyr/
.west/config
app/conf/version.conf
app/.cache/
