/*
 * Copyright (c) 2021, STMicroelectronics
 *
 * SPDX-License-Identifier: Apache-2.0
 */
&spi1{
    tmc1: tmc2130@0{   
            compatible = "trinamic,tmc2130-spi";
            pwms = <&pwm1 1 2000 PWM_POLARITY_NORMAL>;
            label = "mtr1" ;
            reg = <0>;
            spi-max-frequency = <40000>;
        };
            cs-gpios= <&gpioa 4 GPIO_ACTIVE_LOW>;
            
};


